@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* @media(min-width:320px){
.xsmall{
  @apply text-4xl;
} 
} */

/* @media(min-width:363px){
.xsmall{
  @apply text-3xl;
} 
} */
@media(min-width:437px){
.xs_w{
  @apply w-4/5;
}
.h_xsm{
  @apply text-3xl;
}
.padd_x{
  @apply px-12;
} 
}
@media(min-width:485px){
.padd_x2{
  @apply px-14;
} 
.padd_x3{
  @apply px-16;
} 
}
/* @media(min-width:472px){
.padd_x2{
  @apply px-12;
} 
}
@media(min-width:490px){
.padd_x3{
  @apply px-16;
} 
.h_xsm{
  @apply text-4xl;
} 
} */